.card_display{
display: grid;
grid-template-columns: repeat(4, 20%);
justify-content: center;
align-content: center;
gap:70px;
padding: 10px;
margin-top: 30px;
}
// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {
//     .card_display{
//         display: grid;
//         grid-template-columns: repeat(2,30%);
//         gap:70px;
//         padding: 5px;
//     }
// }
// Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
    .card_display{
        display: grid;
        grid-template-columns: repeat(1,95%);
        justify-content: center;
        align-items: center;
        gap:30px;
        padding: 5px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card_display{
        display: grid;
        grid-template-columns: repeat(2,40%);
        gap:70px;
        padding: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card_display{
        display: grid;
        grid-template-columns: repeat(2,43%);
        gap:70px;
        padding: 5px;
    }
}

// /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card_display{
        display: grid;
        grid-template-columns: repeat(3,30%);
        gap:70px;
        padding: 5px;
    }
}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card_display{
        display: grid;
        grid-template-columns: repeat(4,18%);
        gap:70px;
        padding: 5px;
    }
}